@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Outfit", sans-serif;
	font-size: 16px;
}

body {
	background: #f6f8fc;
	font-family: "Outfit", sans-serif;
	justify-content: center;
	background-image: url("../public//images/pokeball-body.png");
	background-repeat: no-repeat;
	background-position-x: -180px;
	background-position-y: -80px;
	width: 100%;
	height: 101vh;
}
.none {
	display: none;
}
.block {
	display: block;
}

.searcher_container {
	display: flex;
	justify-content: center;
}
.searcher {
	position: relative;
	left: 2rem;
	width: 72%;
	height: 3rem;
	margin: 2.1rem 0;
	padding: 0 0 0 1.4rem;
	border-radius: 1rem;
}

.search-icon {
	right: 0.6rem;
	position: relative;
	object-fit: cover;
	height: 34px;
	width: 34px;
	top: 2.5rem;
}

.pokemon_container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	row-gap: 50px;
	column-gap: 30px;
}

.pokemon_card_container {
	background-color: #fff;
	height: 11rem;
	border-radius: 10px;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	border-radius: 2.2rem;
	font-size: 1rem;
	cursor: grab;
	border: 0.2rem solid transparent;
	transition: border 0.3s ease;
}
.pokemon_card_container:hover {
	border-color: #e0e0e0;
}

.imgPokemon {
	transition: transform 0.3s ease;
}

.pokemon_card_container:hover .imgPokemon {
	transform: scale(1.2);
}

.content_card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	height: 100%;
}
.content_card_order_text {
	color: #8f9396;
	font-size: 0.7rem;
	font-weight: 800;
}

.content_card_name_text {
	font-weight: bold;
	color: #011030;
	font-size: 1.2rem;
	margin-bottom: 0.4rem;
}

.top_section {
	display: flex;
	justify-content: center;
	border-top-right-radius: 2rem;
	border-top-left-radius: 2rem;
	font-size: 1.6rem;
	width: 100%;
	background-color: #f2f2f2;
}

.pokemon_types {
	padding: 0.4rem;
	margin: 0.2rem;
	border-radius: 0.4rem;
	color: #111112;
	font-weight: 400;
}

.bottom_section {
	height: 30px; /* Adjust as needed */
	width: 100%;
	background-color: #ffffff; /* White color */
}

/* pagination */

.pagination_container {
	display: flex;
	justify-content: center;
}

.pagination_container-buttons {
	justify-content: space-between;
	display: flex;
	width: 100%;
	padding: 0.8rem 1rem;
	background-color: #37373b;
	color: #fff;
}
.pagination_container-buttons button:hover {
	color: red;
}

.details_pokemon {
	width: 40vw;
	margin: 0 1vw 0 0.1rem;
	background-color: #fff;
	border-radius: 1rem;
	height: 92vh;
	position: sticky;
	margin-top: 3rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 3rem;
}
.details_pokemon_img {
	position: relative;
	bottom: 6rem;
}
.details_pokemon_colortext {
	color: #8f9396;
	font-size: 1.2rem;
}

.details_pokemon_selected {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	border-radius: 1rem;
	height: 92vh;
	position: sticky;
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 3rem;
}

.circle {
	background-color: red;
	background-image: url("https://i.imgur.com/Dnd9gLk.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	height: 133px;
	position: relative;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
}

.img_details {
	margin: 30px;
	max-width: 134px;
	max-height: 134px;
	position: absolute;
	bottom: 0;
}

.exit_details {
	color: red;
	background-color: #fff;
	z-index: 2;
	line-height: 0px;
	padding: 12px;
	position: absolute;
	top: 0px;
	border-top-right-radius: 0.9rem;
	right: 0;
}

.loader {
	width: 98vw;
	height: 98vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.flashbacks {
	animation: 2s linear 0s infinite alternate sun-rise;
}

@keyframes sun-rise {
	0% {
		color: grey;
	}
	30% {
		color: black;
	}
	50% {
		color: grey;
	}
	100% {
		color: black;
	}
}

@media screen and (min-width: 768px) {
	.pokemon_container {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}

	.pagination_container-buttons {
		padding: 0.4rem 3rem;
	}
	.details_pokemon_selected {
		width: 40vw;
		margin: 0 1vw 0 0.1rem;
	}

	.pokemon_container {
		width: 100%;
		padding: 20px 20px 16px 60px;
	}
}
